@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  .check:hover svg {
    stroke: #4285f4;
  }
  
  #cbx:checked + .check svg {
    stroke: #4285f4;
  }
  
  #cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  .signUp{
    position: relative;
    z-index: 999;
  }
  .signUp::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 50%;
    background: #3B82F6;
    transition: all linear .3s;
    z-index: -1;
  }
  .signUp:hover::after{
    width: 50%;
  }
  .signUp::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    right: 50%;
    background: #3B82F6;
    transition: all linear .3s;
    z-index: -1;
  }
  .signUp:hover::before{
    width: 50%;
  }
.registrationLeft{
animation: 15s linear imganimation infinite;
}
.registration-Night{
  border-image: fill 0 linear-gradient(#0001, #000);
}
@keyframes imganimation {
  0%{
    background: url(../src/Component/RegistrationComponent/RegistrationLeft/RegistrationLeftImage/1.png) no-repeat center bottom;
    background-size: cover;
  }
  20%{
    background: url(../src/Component/RegistrationComponent/RegistrationLeft/RegistrationLeftImage/2.png) no-repeat center bottom;
    background-size: cover;
  }
  40%{
    background: url(../src/Component/RegistrationComponent/RegistrationLeft/RegistrationLeftImage/3.png) no-repeat center bottom;
    background-size: cover;
  }
  60%{
    background: url(../src/Component/RegistrationComponent/RegistrationLeft/RegistrationLeftImage/4.png) no-repeat center bottom;
    background-size: cover;
  }  80%{
    background: url(../src/Component/RegistrationComponent/RegistrationLeft/RegistrationLeftImage/5.png) no-repeat center bottom;
    background-size: cover;
  }  100%{
    background: url(../src/Component/RegistrationComponent/RegistrationLeft/RegistrationLeftImage/3.png) no-repeat center bottom;
    background-size: cover;
  }
}
.Day-Background{
  background: white;
}
.Night-Background{
  background: #212428;
}
.day-text{
  color: black;
}
.night-text{
  color: white;
}
.rotate{
  animation: .3s linear theme;
}
@keyframes theme{
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}
.day-rotate{
  animation: .3s linear day-theme;
}
@keyframes day-theme{
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}
.daypath path {
  stroke: rgb(0, 0, 0);
}
.nightpath path{
  stroke: #3B82F6;
}
.redpath path{
  stroke: red;
}

.Fire-Text{
  background-image: url(./Component/LoginComponent/LoginRightComponent/LoginRightImage/tenor.gif);
  background-position: center;
  background-size: cover;
   background-clip: text;
   -webkit-background-clip: text;
}
.wrapper .icon {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 2s cubic-bezier(0.68, -0.55, 0.65, 1.55);
}
.wrapper .tooltip-hover{
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.wrapper .tooltip-hover::after{
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #ffffff;
  left: 50%;
  bottom: -3px;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip-hover{
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip-hover{
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.LoginRightBgImage{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: 20s linear LoginRightAnimation infinite;
  background-size: cover;
}
@keyframes LoginRightAnimation{
  0%{
    background: url(../src/Component/LoginComponent/LoginRightComponent/LoginRightImage/3.png) no-repeat center bottom;
      background-size: cover;
  }
  20%{
    background: url(../src/Component/LoginComponent/LoginRightComponent/LoginRightImage/4.png) no-repeat center bottom;
      background-size: cover;
  }
  40%{
    background: url(../src/Component/LoginComponent/LoginRightComponent/LoginRightImage/1.png) no-repeat center bottom;
      background-size: cover;
  }
  60%{
    background: url(../src/Component/LoginComponent/LoginRightComponent/LoginRightImage/2.png) no-repeat center bottom;
      background-size: cover;
  }
  80%{
    background: url(../src/Component/LoginComponent/LoginRightComponent/LoginRightImage/5.png) no-repeat center bottom;
      background-size: cover;
  }
  100%{
    background: url(../src/Component/LoginComponent/LoginRightComponent/LoginRightImage/6.png) no-repeat center bottom;
    background-size: cover;
  }
}
.modalimage{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.modalimageParrent:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.zoom-div:hover .zoom-image-text{
  opacity: 100;
  display: block;
}
.zoom-div .zoom-image-text span{
  transition: all linear .3s;
}
.zoom-div:hover .zoom-image-text span{
  transform: translateY(0);
}
